/data
/sub-01_cleaned.fif
/sub-02_cleaned.fif
/sub-02_cleaned_new.fif
/sub-03_cleaned.fif
/sub-04_cleaned.fif
/sub-05_cleaned.fif
/sub-06_cleaned.fif
/sub-07_cleaned.fif
/sub-07_cleaned_new.fif
/sub-08_cleaned.fif
/sub-09_cleaned.fif
/sub-10_cleaned.fif
/sub-10_cleaned_new.fif
/sub-11_cleaned.fif
/sub-12_cleaned.fif
/sub-13_cleaned.fif